automation/n8n/workflows_backup.json
[{"updatedAt":"2026-05-13T21:07:40.978Z","createdAt":"2026-05-13T21:01:28.894Z","id":"UFTgkA9RecplalYj","name":"AI Triage Workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ai-triage","responseMode":"responseNode","options":{}},"id":"1a2b3c4d-0001-0001-0001-000000000001","name":"Receive Message","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"ai-triage-webhook"},{"parameters":{"assignments":{"assignments":[{"id":"field-001","name":"triage_prompt","value":"=You are an intelligent triage assistant. Analyze the following customer message and return a JSON object.\n\nMessage: \"{{ $json.message }}\"\n\nReturn JSON with these exact fields:\n- intent: one of [booking, complaint, general_inquiry, pricing, emergency, spam]\n- urgency: one of [high, medium, low]\n- language: detected language code (e.g. en, hi, pa)\n- suggested_action: one of [auto_reply, escalate_to_human, book_appointment, send_pricing]\n- summary: one sentence summary of the message\n\nRespond with valid JSON only. No explanation, no markdown, just the JSON object.","type":"string"},{"id":"field-002","name":"client_id","value":"={{ $json.client_id }}","type":"string"},{"id":"field-003","name":"phone_number","value":"={{ $json.phone_number ?? 'unknown' }}","type":"string"},{"id":"field-004","name":"original_message","value":"={{ $json.message }}","type":"string"}]},"options":{}},"id":"1a2b3c4d-0002-0002-0002-000000000002","name":"Build Triage Prompt","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,300]},{"parameters":{"method":"POST","url":"http://backend:8000/ai/complete","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"change-me-in-production"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"prompt\": \"{{ $json.triage_prompt.replace(/\"/g, '\\\\\"') }}\",\n  \"provider\": \"claude\"\n}","options":{}},"id":"1a2b3c4d-0003-0003-0003-000000000003","name":"Call AI Backend","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst aiText = item.text || '';\n\nlet triage;\ntry {\n  const match = aiText.match(/\\{[\\s\\S]*?\\}/);\n  triage = JSON.parse(match ? match[0] : aiText);\n} catch (e) {\n  triage = {\n    intent: 'general_inquiry',\n    urgency: 'low',\n    language: 'en',\n    suggested_action: 'auto_reply',\n    summary: 'Unable to parse AI response — defaulting to auto_reply'\n  };\n}\n\nreturn [{\n  json: {\n    ...triage,\n    job_id: item.job_id ?? null,\n    ai_provider: item.provider ?? 'claude'\n  }\n}];"},"id":"1a2b3c4d-0004-0004-0004-000000000004","name":"Parse Triage JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"rules":{"rules":[{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.suggested_action }}","rightValue":"book_appointment","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Book Appointment"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.suggested_action }}","rightValue":"escalate_to_human","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Escalate to Human"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.suggested_action }}","rightValue":"send_pricing","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Send Pricing"}]},"fallbackOutput":"extra","options":{}},"id":"1a2b3c4d-0005-0005-0005-000000000005","name":"Route by Action","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1120,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}},"id":"1a2b3c4d-0006-0006-0006-000000000006","name":"Respond — Auto Reply","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,160]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}},"id":"1a2b3c4d-0007-0007-0007-000000000007","name":"Respond — Book Appointment","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}},"id":"1a2b3c4d-0008-0008-0008-000000000008","name":"Respond — Escalate","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,440]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}},"id":"1a2b3c4d-0009-0009-0009-000000000009","name":"Respond — Send Pricing","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,580]}],"connections":{"Receive Message":{"main":[[{"node":"Build Triage Prompt","type":"main","index":0}]]},"Build Triage Prompt":{"main":[[{"node":"Call AI Backend","type":"main","index":0}]]},"Call AI Backend":{"main":[[{"node":"Parse Triage JSON","type":"main","index":0}]]},"Parse Triage JSON":{"main":[[{"node":"Route by Action","type":"main","index":0}]]},"Route by Action":{"main":[[{"node":"Respond — Book Appointment","type":"main","index":0}],[{"node":"Respond — Escalate","type":"main","index":0}],[{"node":"Respond — Send Pricing","type":"main","index":0}],[{"node":"Respond — Auto Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"b01297ff-90d4-4991-b7ac-ed4f75ae8e81","activeVersionId":null,"versionCounter":5,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-13T21:01:28.896Z","createdAt":"2026-05-13T21:01:28.896Z","role":"workflow:owner","workflowId":"UFTgkA9RecplalYj","projectId":"dmalGyQH0KqLoXQ2","project":{"updatedAt":"2026-05-13T21:01:17.745Z","createdAt":"2026-05-13T20:55:30.897Z","id":"dmalGyQH0KqLoXQ2","name":"Devin Gill <sodhi.398@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ee4a83fc-ca92-4382-8ff5-268a289d7628"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-05-13T21:07:41.000Z","createdAt":"2026-05-13T21:04:08.160Z","id":"PL6oFbPtJFIRoGpS","name":"AI Triage Workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ai-triage","responseMode":"responseNode","options":{}},"id":"node-webhook","name":"Receive Message","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"ai-triage-webhook-v2"},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"client_id","value":"={{ $json.client_id }}","type":"string"},{"id":"a2","name":"phone_number","value":"={{ $json.phone_number ?? 'unknown' }}","type":"string"},{"id":"a3","name":"original_message","value":"={{ $json.message }}","type":"string"},{"id":"a4","name":"prompt","value":"=Analyze this customer message and respond with a JSON object only (no explanation, no markdown).\n\nMessage: \"{{ $json.message }}\"\n\nReturn this exact JSON structure:\n{\n  \"intent\": \"booking|complaint|general_inquiry|pricing|emergency|spam\",\n  \"urgency\": \"high|medium|low\",\n  \"language\": \"en|hi|pa|other\",\n  \"suggested_action\": \"book_appointment|escalate_to_human|send_pricing|auto_reply\",\n  \"summary\": \"one sentence summary\"\n}","type":"string"}]},"options":{}},"id":"node-set","name":"Prepare Request","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,300]},{"parameters":{"method":"POST","url":"http://backend:8000/ai/complete","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"change-me-in-production"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $json.client_id }}"},{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"provider","value":"claude"}]},"options":{}},"id":"node-http","name":"Call AI Backend","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst aiText = item.text || '';\nconst phone = $('Prepare Request').first().json.phone_number;\nconst originalMessage = $('Prepare Request').first().json.original_message;\n\nlet triage;\ntry {\n  const match = aiText.match(/\\{[\\s\\S]*?\\}/);\n  triage = JSON.parse(match ? match[0] : aiText);\n} catch (e) {\n  triage = {\n    intent: 'general_inquiry',\n    urgency: 'low',\n    language: 'en',\n    suggested_action: 'auto_reply',\n    summary: 'Parse error — defaulting to auto_reply'\n  };\n}\n\nreturn [{\n  json: {\n    ...triage,\n    job_id: item.job_id ?? null,\n    phone_number: phone,\n    original_message: originalMessage,\n    processed_at: new Date().toISOString()\n  }\n}];"},"id":"node-code","name":"Parse Triage Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}},"id":"node-respond","name":"Respond with Triage","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,300]}],"connections":{"Receive Message":{"main":[[{"node":"Prepare Request","type":"main","index":0}]]},"Prepare Request":{"main":[[{"node":"Call AI Backend","type":"main","index":0}]]},"Call AI Backend":{"main":[[{"node":"Parse Triage Result","type":"main","index":0}]]},"Parse Triage Result":{"main":[[{"node":"Respond with Triage","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveExecutionProgress":true,"saveDataSuccessExecution":"all","saveDataErrorExecution":"all"},"staticData":null,"meta":null,"pinData":null,"versionId":"9368644b-b215-4fa2-9457-3b944c58a404","activeVersionId":null,"versionCounter":10,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-13T21:04:08.162Z","createdAt":"2026-05-13T21:04:08.162Z","role":"workflow:owner","workflowId":"PL6oFbPtJFIRoGpS","projectId":"dmalGyQH0KqLoXQ2","project":{"updatedAt":"2026-05-13T21:01:17.745Z","createdAt":"2026-05-13T20:55:30.897Z","id":"dmalGyQH0KqLoXQ2","name":"Devin Gill <sodhi.398@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ee4a83fc-ca92-4382-8ff5-268a289d7628"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-05-13T21:07:41.025Z","createdAt":"2026-05-13T21:06:14.237Z","id":"R5rKdOI5rCNIM6Oa","name":"AI Triage Workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ai-triage","responseMode":"lastNode"},"id":"wh-1","name":"Receive Message","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"ai-triage-v3"},{"parameters":{"jsCode":"return $input.all();"},"id":"code-1","name":"Build Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"method":"POST","url":"http://backend:8000/ai/complete","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"change-me-in-production"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"client_id\": \"{{ $json.client_id }}\", \"prompt\": \"Classify this message as one of: booking, pricing, complaint, general_inquiry. Message: '{{ $json.message }}'. Respond with JSON only: {\\\"intent\\\": \\\"...\\\", \\\"urgency\\\": \\\"high|medium|low\\\", \\\"suggested_action\\\": \\\"book_appointment|send_pricing|escalate_to_human|auto_reply\\\", \\\"summary\\\": \\\"...\\\"}\", \"provider\": \"claude\" }","options":{}},"id":"http-1","name":"Call AI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300]},{"parameters":{"jsCode":"const r = $input.first().json;\nlet triage;\ntry { triage = JSON.parse((r.text||'').match(/\\{[\\s\\S]*?\\}/)?.[0] || r.text); } catch(e) { triage = {intent:'general_inquiry',urgency:'low',suggested_action:'auto_reply',summary:'parse error'}; }\nreturn [{ json: { ...triage, job_id: r.job_id } }];"},"id":"code-2","name":"Parse Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]}],"connections":{"Receive Message":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Call AI","type":"main","index":0}]]},"Call AI":{"main":[[{"node":"Parse Result","type":"main","index":0}]]},"Parse Result":{"main":[]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveDataErrorExecution":"all"},"staticData":null,"meta":null,"pinData":null,"versionId":"82d20388-a02b-40ac-8a0f-e8f3d85413e3","activeVersionId":"58d7cef4-ddf0-4fd4-9128-28fcaee17a73","versionCounter":6,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-13T21:06:14.239Z","createdAt":"2026-05-13T21:06:14.239Z","role":"workflow:owner","workflowId":"R5rKdOI5rCNIM6Oa","projectId":"dmalGyQH0KqLoXQ2","project":{"updatedAt":"2026-05-13T21:01:17.745Z","createdAt":"2026-05-13T20:55:30.897Z","id":"dmalGyQH0KqLoXQ2","name":"Devin Gill <sodhi.398@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ee4a83fc-ca92-4382-8ff5-268a289d7628"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-05-13T21:10:06.317Z","createdAt":"2026-05-13T21:07:54.980Z","id":"j447rzBBL7YjpTsb","name":"AI Triage Workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"triage","responseMode":"lastNode","options":{}},"id":"wh-final","name":"Receive Message","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,300],"webhookId":"triage-live-001"},{"parameters":{"jsCode":"return [{ json: { status: \"ok\", test: true } }];","mode":"runOnce"},"id":"code-final","name":"Triage with AI","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,300]}],"connections":{"Receive Message":{"main":[[{"node":"Triage with AI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveDataErrorExecution":"all"},"staticData":null,"meta":null,"pinData":null,"versionId":"541bc62e-eaf9-4bc1-9192-e3d8c5e770a2","activeVersionId":"efb6ba89-023c-4cc9-b474-37211b8cd602","versionCounter":9,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-13T21:07:54.983Z","createdAt":"2026-05-13T21:07:54.983Z","role":"workflow:owner","workflowId":"j447rzBBL7YjpTsb","projectId":"dmalGyQH0KqLoXQ2","project":{"updatedAt":"2026-05-13T21:01:17.745Z","createdAt":"2026-05-13T20:55:30.897Z","id":"dmalGyQH0KqLoXQ2","name":"Devin Gill <sodhi.398@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ee4a83fc-ca92-4382-8ff5-268a289d7628"}}],"versionMetadata":{"name":null,"description":null}}]